

.sidebar{
    width: 13rem;
    padding: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: aquamarine;
    cursor: pointer;
}
.subnav{
    width: 98%;
    padding: 2px 0 0 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menutitle{
    width: 100%;
    font-size: 18px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: rgb(19, 27, 24);
}
.sidebar:hover , .subnav a:hover {
    background-color: rgb(24, 185, 124);
}